<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Travel Buddy"
        android:supportsRtl="true"
        android:theme="@style/Theme.TravelBuddy"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBIvtMDQCQYwz34jYdZJbOJvAgr1Uu3q-U" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:configChanges="orientation|screenSize">
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ExploreActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:configChanges="orientation|screenSize">
        </activity>

        <activity
            android:name=".ThingstodoActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:configChanges="orientation|screenSize">
        </activity>


    </application>

</manifest>


<!--    android:theme="@style/Theme.TravelBuddy"-->